
/* =====================
   GLOBAL - MOBILE FIRST
===================== */

* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* =====================
   HEADER - MOBILE
===================== */

header {
    background-color: #f6e7e499;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    display: flex;
    text-decoration: none;
    color: #e40995;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
    transition: 0.9s ease;
}

.logo:hover {
    transform: scale(1.2);
}

.navigation a {
    color: #e40995;
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
    padding-left: 10px;
    transition: 0.9s ease;
}

.navigation a:hover {
    transform: scale(1.2);

}

/* =====================
   SECTIONS - MOBILE
===================== */

section {
    padding: 80px 20px;
}

/* =====================
   MAIN SECTION
===================== */

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../images/munir-profile.JPG) no-repeat center / cover;
    padding-top:33%;
}

.main h2 {
    color: blanchedalmond;
    font-size: 1.2em;
    font-weight: 800;
}

.main h2 span {
    display: inline-block;
    color: black;
    font-size: 1.2em;
}

.main h3 {
    color: white;
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 10px 0;
}

.main-btn {
    color: black;
    background-color: #c8c8f3;
    font-size: 1em;
    font-weight: 800;
    padding: 0.8em 1.8em;
    border-radius: 15px;
    display: inline-block;
    margin-bottom: 10px;
    transition: 0.7s ease;
    text-decoration: none;
}

.main-btn:hover {
    background-color: mediumvioletred;
    transform: scale(1.05);
}

/* =====================
   SOCIAL LINKS
===================== */

.social-links a {
    color: #eeeaef;
    font-size: 1.3em;
    padding-right: 15px;
    transition: 0.7s ease;
}

.social-links a:hover {
    transform: scale(1.1);
}

.social-links a.linkedin:hover { color: #043cf6; }
.social-links a.github:hover { color: black; }
.social-links a.instagram:hover { color: red; }
.social-links a.youtube:hover { color: red; }

/* =====================
   CARDS
===================== */

.cards {
    background: #f6e7e4;
}

.title {
    display: flex;
    justify-content: center;
    color: #1042e8;
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: white;
    width: 90%;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 20px;
    padding: 25px;
    margin: 15px 0;
    transition: 0.7s;
}

.card:hover {
    transform: scale(1.05);
}

.icon {
    color: #0682f8;
    font-size: 4em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    color: #e40995;
    font-size: 1.3em;
    font-weight: 700;
}

.info p {
    font-size: 1em;
    font-weight: 600;
}

/* =====================
   PROJECTS
===================== */

.projects {
    background: #f6e7e4;
}

.project-card {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    width: 90%;
    margin: 20px 0;
    transition: 0.7s;
}

.project-card:hover {
    transform: scale(1.05);
}


.project-image img {
    width: 100%;
    border: solid 3px #e40995;
}

.project-category {
    font-size: 1.1em;
    font-weight: 700;
}

.project-title {
    font-size: 1.5em;
    font-weight: 800;
}

.project-title span {
    color: #e40995;
    font-size: 0.8em;
    display: flex;
}

.more-details {
    font-size: 0.7em;
    text-decoration: none;
    color: black;
}

.more-details:hover {
    color: blue;
}

/* =====================
   FOOTER
===================== */

.footer {
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.footer-title {
    font-size: 1em;
    font-weight: 600;
}

.footer a {
    color: darkgrey;
}

/* =====================
   TABLET
===================== */

@media (min-width: 768px) {

    header {
        padding: 10px 80px;
    }

    section {
        padding: 100px 80px;
    }

    .content {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card,
    .project-card {
        width: 45%;
        margin: 20px;
    }

    .footer {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* =====================
   LAPTOP / DESKTOP
===================== */

@media (min-width: 1024px) {

    header {
        padding: 10px 200px;
    }

    section {
        padding: 100px 200px;
    }

    .navigation a {
        font-size: 1.8em;
        padding-left: 30px;
    }

    .logo {
        font-size: 1.2em;
    }

    .card,
    .project-card {
        width: 21.25em;
    }
}















































